// COLOR------------------------------
$main-blue: #4e74ff;
$grey: #42444d;
$grey-nav: #8c909d;
$slider-controlers: #dedede;
$light-grey: #d7dbe8;
$promo-bg: #f6f6f6;
//-----------------------------------

//FONT-------------------------------
$font: "Open Sans", "OpenSans", roboto, "roboto", -apple-system, "BlinkMacSystemFontb", "Segoe UI", helvetica, arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//-----------------------------------

//MEDIA-------------------------------
$mobile: 320px;
$tablet: 767px;
$desktop: 1199px;
//-----------------------------------

//END------------------------------
